<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (pageTitle)">
    <title th:text="${pageTitle}">Trabalho</title>
    <meta name="viewport" content="width=device-with, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#drop-project-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}"><span>Trabalho</span></a>
        </div>

        <div class="collapse navbar-collapse" id="drop-project-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Páginas</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/pages/new}">Nova página</a>
                        </li>
                        <li>
                            <a th:href="@{/pages/list}">Listar páginas</a>
                        </li>
                        <li>
                            <a th:href="@{/pages-api/list}" target="_blank">API páginas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Alunos</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/students/new}">Novo aluno</a>
                        </li>
                        <li>
                            <a th:href="@{/students/list}">Listar alunos</a>
                        </li>
                        <li>
                            <a th:href="@{/students-api/list}" target="_blank">API alunos</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Professores</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/teachers/new}">Novo professor</a>
                        </li>
                        <li>
                            <a th:href="@{/teachers/list}">Listar professores</a>
                        </li>
                        <li>
                            <a th:href="@{/teachers-api/list}" target="_blank">API professores</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Cursos</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/courses/new}">Novo curso</a>
                        </li>
                        <li>
                            <a th:href="@{/courses/list}">Listar curso</a>
                        </li>
                        <li>
                            <a th:href="@{/courses-api/list}" target="_blank">API cursos</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <span>Empresas</span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/companies/new}">Nova empresa</a>
                        </li>
                        <li>
                            <a th:href="@{/companies/list}">Listar empresas</a>
                        </li>
                        <li>
                            <a th:href="@{/companies-api/list}" target="_blank">API empresas</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> <span th:text="${username}"></span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default navbar-fixed-bottom" th:fragment="footer">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>
