<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Eliminar aluno')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header" th:if="${studentForm.studentId != null}">Eliminar aluno</h1>

    <form th:object="${studentForm}" method="post" th:action="@{/backoffice/students/delete}" class="form-horizontal">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">
            <label for="name" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-9">
                <input th:field="*{name}" type="text" class="form-control" id="name" maxlength="100" readonly="readonly"/>
                <p class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('name')}">Nome do aluno</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('gradYear')} ? 'has-error' : ''">
            <label for="gradYear" class="col-sm-3 control-label">Ano Graduação</label>
            <div class="col-sm-9">
                <input th:field="*{gradYear}" type="text" class="form-control" id="gradYear" maxlength="4" readonly="readonly"/>
                <p class="help-block" th:if="${#fields.hasErrors('gradYear')}" th:errors="*{gradYear}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('gradYear')}">Ano de graduação</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('imgSrc')} ? 'has-error' : ''">
            <label for="imgSrc" class="col-sm-3 control-label">Link Imagem</label>
            <div class="col-sm-9">
                <input th:field="*{imgSrc}" type="text" class="form-control" id="imgSrc" maxlength="150" readonly="readonly"/>
                <p class="help-block" th:if="${#fields.hasErrors('imgSrc')}" th:errors="*{imgSrc}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('imgSrc')}">Imagem do aluno</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
            <label for="description" class="col-sm-3 control-label">Descrição</label>
            <div class="col-sm-9">
                <textarea th:field="*{description}" type="text" class="form-control" id="description" rows="6" maxlength="260" readonly="readonly" style="resize: none;"/></textarea>
                <p class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('description')}">Descrição do aluno</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                &nbsp;
            </div>
            <div class="col-sm-9">
                <input name="studentId" type="hidden" th:value="*{studentId}" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
            <div class="row-sm-9">&nbsp;</div>
            <div class="row-sm-9">&nbsp;</div>
            <div class="row-sm-9">&nbsp;</div>
        </div>
    </form>
</div>

<div th:replace="layout/layout :: footer"></div>
</body>
</html>
