<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Novo curso')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header" th:if="${courseForm.courseId == null}">Criar curso</h1>
    <h1 class="page-header" th:if="${courseForm.courseId != null}">Editar curso</h1>

    <form th:object="${courseForm}" method="post" th:action="@{/courses/new}" class="form-horizontal">
        <div class="form-group" th:classappend="${#fields.hasErrors('title')} ? 'has-error' : ''">
            <label for="title" class="col-sm-3 control-label">Título</label>
            <div class="col-sm-9">
                <input th:field="*{title}" type="text" class="form-control" id="title" maxlength="100"/>
                <p class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('title')}">Título do curso</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('degree')} ? 'has-error' : ''">
            <label for="degree" class="col-sm-3 control-label">Grau</label>
            <div class="col-sm-9">
                <input th:field="*{degree}" type="text" class="form-control" id="degree"/>
                <p class="help-block" th:if="${#fields.hasErrors('degree')}" th:errors="*{degree}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('degree')}">Grau do curso</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('url')} ? 'has-error' : ''">
            <label for="url" class="col-sm-3 control-label">URL</label>
            <div class="col-sm-9">
                <input th:field="*{url}" type="text" class="form-control" id="url"/>
                <p class="help-block" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('url')}">Link do curso</p>
            </div>
        </div>

        <div class="form-group" th:classappend="${#fields.hasErrors('courseDescription')} ? 'has-error' : ''">
            <label for="courseDescription" class="col-sm-3 control-label">Descrição</label>
            <div class="col-sm-9">
                <textarea th:field="*{courseDescription}" class="form-control" id="courseDescription" rows="6" maxlength="500" style="resize: none;"></textarea>
                <p class="help-block" th:if="${#fields.hasErrors('courseDescription')}" th:errors="*{courseDescription}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('courseDescription')}">Descrição do curso</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                &nbsp;
            </div>
            <div class="col-sm-9">
                <input name="courseId" type="hidden" th:value="*{courseId}" />
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
            <div class="row-sm-9">&nbsp;</div>
            <div class="row-sm-9">&nbsp;</div>
            <div class="row-sm-9">&nbsp;</div>
        </div>
    </form>
</div>

<div th:replace="layout/layout :: footer"></div>
</body>
</html>