<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Novo aluno')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header" th:if="${studentForm.studentId == null}">Criar aluno</h1>
    <h1 class="page-header" th:if="${studentForm.studentId != null}">Editar aluno</h1>

    <form th:object="${studentForm}" method="post" th:action="@{/students/new}" class="form-horizontal">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">
            <label for="name" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-9">
                <input th:field="*{name}" type="text" class="form-control" id="name" maxlength="100"/>
                <p class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('name')}">Nome do aluno</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('age')} ? 'has-error' : ''">
            <label for="age" class="col-sm-3 control-label">Idade</label>
            <div class="col-sm-9">
                <input th:field="*{age}" type="text" class="form-control" id="age" maxlength="3"/>
                <p class="help-block" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('age')}">Idade do aluno</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('imgSrc')} ? 'has-error' : ''">
            <label for="imgSrc" class="col-sm-3 control-label">Link Imagem</label>
            <div class="col-sm-9">
                <input th:field="*{imgSrc}" type="text" class="form-control" id="imgSrc" maxlength="150"/>
                <p class="help-block" th:if="${#fields.hasErrors('imgSrc')}" th:errors="*{imgSrc}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('imgSrc')}">Imagem do aluno</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
            <label for="description" class="col-sm-3 control-label">Descrição</label>
            <div class="col-sm-9">
                <input th:field="*{description}" type="text" class="form-control" id="description" maxlength="260"/>
                <p class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('description')}">Descrição do aluno</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                &nbsp;
            </div>
            <div class="col-sm-9">
                <input name="studentId" type="hidden" th:value="*{studentId}" />
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div th:replace="layout/layout :: footer"></div>
</body>
</html>