<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout/layout :: head (pageTitle='Novo professor')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>

<div class="container">
    <h1 class="page-header" th:if="${teacherForm?.teacherId == null}">Criar professor</h1>
    <h1 class="page-header" th:if="${teacherForm?.teacherId != null}">Editar professor</h1>

    <form th:object="${teacherForm}" method="post" th:action="@{/backoffice/teachers/new}" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error' : ''">
            <label for="name" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-9">
                <input th:field="*{name}" type="text" class="form-control" id="name" maxlength="100"/>
                <p class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('name')}">Nome do professor</p>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('age')} ? 'has-error' : ''">
            <label for="age" class="col-sm-3 control-label">Idade</label>
            <div class="col-sm-9">
                <input th:field="*{age}" type="text" class="form-control" id="age" maxlength="3"/>
                <p class="help-block" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('age')}">Idade do professor</p>
            </div>
        </div>
        <div class="form-group">
            <label for="imgFile" class="col-sm-3 control-label">Link Imagem</label>
            <div class="col-sm-9">
                <input name="imgFile" type="file" class="form-control" id="imgFile" maxlength="150" accept=".jpg,.jpeg,.heic,.png"/>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error' : ''">
            <label for="description" class="col-sm-3 control-label">Descrição</label>
            <div class="col-sm-9">
                <textarea th:field="*{description}" type="text" class="form-control" id="description" rows="6" maxlength="200" style="resize: none;"/></textarea>
                <p class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</p>
                <p class="help-block" th:if="${!#fields.hasErrors('description')}">Descrição do professor</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                &nbsp;
            </div>
            <div class="col-sm-9">
                <input name="teacherId" type="hidden" th:value="*{teacherId}" />
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
            <div class="row-sm-9">&nbsp;</div>
            <div class="row-sm-9">&nbsp;</div>
            <div class="row-sm-9">&nbsp;</div>
        </div>
    </form>
</div>

<div th:replace="layout/layout :: footer"></div>
</body>
</html>